[package]
name = "asphalt"
version = "0.3.0"
edition = "2021"
license = "MIT"
authors = ["Jack T <jack@jackt.space>"]
description = "A super sloppy Roblox asset manager"
repository = "https://github.com/jacktabscode/asphalt"
homepage = "https://github.com/jacktabscode/asphalt"
readme = "README.md"

[dependencies]
async-recursion = "1.0.5"
blake3 = "1.5.0"
clap = { version = "4.5.2", features = ["derive"] }
console = { version = "0.15.8", features = ["ansi-parsing"] }
dotenv = "0.15.0"
log = "0.4.21"
rbxcloud = "0.6.1"
reqwest = { version = "0.11.26", features = ["gzip"] }
serde = { version = "1.0.197", features = ["derive"] }
serde-xml-rs = "0.6.0"
tokio = { version = "1.36.0" }
toml = "0.8.11"
