[package]
name = "asphalt"
version = "1.1.0"
edition = "2024"
license = "MIT"
authors = ["Jack Taylor <j@jackt.io>"]
description = "Upload and reference Roblox assets in code"
repository = "https://github.com/jacktabscode/asphalt"
homepage = "https://github.com/jacktabscode/asphalt"
readme = "README.md"

[dependencies]
anyhow = "1.0.98"
bit-vec = "0.8"
blake3 = "1.8.2"
bytes = "1.10.1"
clap = { version = "4.5.41", features = ["derive"] }
clap-verbosity-flag = "3.0.3"
dashmap = "6.1.0"
dotenvy = "0.15.7"
env_logger = "0.11.8"
fs-err = { version = "3.1.1", features = ["tokio"] }
futures = "0.3.31"
globset = { version = "0.4.16", features = ["serde1"] }
image = "0.25.6"
indicatif = "=0.17.11"
indicatif-log-bridge = "0.2.3"
log = "0.4.27"
rbx_binary = { version = "1.0.0", features = ["serde"] }
rbx_cookie = { version = "0.1.5", default-features = false }
rbx_xml = "1.0.0"
reqwest = { version = "0.12.22", default-features = false, features = [
	"rustls-tls",
	"gzip",
	"multipart",
] }
resvg = "0.45.1"
roblox_install = "1.0.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tokio = { version = "1.46.1", features = ["full"] }
toml = "0.9.2"
walkdir = "2.5.0"

[features]
mock_cloud = []

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[dev-dependencies]
insta = { version = "1.43.1", features = ["yaml"] }

[profile.dev.package]
insta.opt-level = 3
