name: CI

on:
    push:
        branches:
            - master

    pull_request:
        branches:
            - master

jobs:
    build:
        name: Build and Test
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]

        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: true

            - name: Install Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true
                  profile: minimal

            - name: Rust cache
              uses: Swatinem/rust-cache@v2

            - name: Setup Aftman
              uses: ok-nick/setup-aftman@v0.3.0
              with:
                  version: "v0.2.7"

            - name: Build
              run: cargo build --locked --verbose

            - name: Test
              run: cargo test --locked --verbose

    lint:
        name: Rustfmt & Clippy
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: true

            - name: Install Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true
                  components: rustfmt, clippy

            - name: Rust cache
              uses: Swatinem/rust-cache@v2

            - name: Rustfmt
              run: cargo fmt -- --check

            - name: Clippy
              run: cargo clippy
